.filterContainer {
  min-height: 68px;
  margin: 84px auto 0;
  padding-left: 120px;
  padding-right: 120px;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: var(--gray);

  display: flex;
  flex-direction: column;
  gap: 8px;

  margin-right: 16px;
}
.select {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);

  border-radius: 12px;
  padding: 12px 16px;
  width: 204px;
  height: 44px;
  background: var(--inputs);

  border: none; /* Убирает саму рамку */
  outline: none; /* Убирает синий контур при клике */
  /* Самое важное: убирает стандартную стрелочку и стили ОС */
  /* appearance: none; */
}

.kmGroup {
  display: inline-block;
}
.inputsWrapper {
  display: flex;
  position: relative;
  background: var(--inputs);
  border-radius: 12px;
  width: 320px;
  overflow: hidden;
}

.inputsWrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 1px;
  height: 44px;
  background-color: var(--gray-light);

  pointer-events: none;
}

.inputFrom::placeholder,
.inputTo::placeholder {
  color: var(--main);
}

.inputFrom {
  border-right: none;
}
.inputTo {
  border-left: none;
}

.inputFrom,
.inputTo {
  border-right: 1px solid var(--gray-light);
  border-radius: 12px 0 0 12px;
  max-width: 160px;
  padding-left: 24px;
  height: 44px;
  background: var(--inputs);

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);

  border: none;
  outline: none;
}
/* Для Chrome, Safari, Edge и Opera */
.inputFrom::-webkit-outer-spin-button,
.inputFrom::-webkit-inner-spin-button,
.inputTo::-webkit-outer-spin-button,
.inputTo::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Для Firefox */
.inputFrom,
.inputTo {
  -moz-appearance: textfield;
  appearance: textfield; /* Стандартное свойство */
}
.button {
  position: relative;
  border: none;
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  background: var(--button);

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);

  margin-left: 16px;
  margin-top: auto;
}
.button:hover {
  background: var(--button-hover);
}
.kmGroup {
  border: none;
  padding: 0;
  margin: 0;
  min-width: 0;
}

.kmGroup legend {
  padding: 0;
  margin-bottom: 8px;
}
