.page {
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  max-width: 1440px;
  min-height: 700px;
  margin: 0 auto;

  background-color: #000;
  background-image: url("../../public/back-img-homepage-car.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.infoContainer {
  max-width: 783px;
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  color: var(--white);
  margin-bottom: 16px;
}

.text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--white);
  margin-bottom: 40px;
}

.button {
  display: inline-block;

  border-radius: 12px;
  padding: 12px 40px;
  width: 276px;
  height: 44px;
  background: var(--button);

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
}

.button:hover {
  background: var(--button-hover);
}
