.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 120px;
  padding-right: 120px;
}
.leftColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 640px;
  margin-right: 72px;

  margin-top: 84px;
}
.imageContainer {
  flex: 1;
  max-width: 640px;
  margin-bottom: 40px;
}

.mainImage {
  width: 100%;
  height: auto;
  border-radius: 19px;
  background-color: #f80404;
  object-fit: cover;
}

.rightColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 488px;

  padding-top: 104px;
}

.contentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 488px;
}

.header {
}
.titleGroup {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  margin-bottom: 8px;
}
.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
}
.idCar {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
}

.locationGroup {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  margin-bottom: 8px;
  margin-bottom: 16px;
}
.location {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}
.mileage {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}
.price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--button);
  margin-bottom: 32px;
}

.description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  margin-bottom: 68px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0;
  padding-top: 0;

  margin-bottom: 110px;
}

.sectionTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);

  margin-bottom: 20px;
}

.specList li {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}
.specList li:not(:last-child) {
  margin-bottom: 16px;
}

.formContainer {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 32px;
  width: 640px;
  background: var(--white);
}

.formTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 8px;
}

.formSubtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
  border: none;

  border-radius: 12px;
  padding: 14px 20px;
  width: 576px;
  height: 48px;

  background: var(--inputs);
}

.textarea {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
  border: none;

  border-radius: 12px;
  padding: 12px 20px 56px;
  width: 576px;
  height: 88px;

  background: var(--inputs);
}

.submitButton {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);

  border: none;
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  background: var(--button);
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .imageWrapper,
  .contentInfo {
    width: 100%;
  }
}
