.container {
  max-width: 276px;
  min-height: 424px;

  flex-direction: column;
  width: 100%;
  height: 100%;
}
.image {
  border: none;
  border-radius: 14px;
  width: 276px;
  height: 268px;
  background: linear-gradient(
    180deg,
    rgba(18, 20, 23, 0.5) 0%,
    rgba(18, 20, 23, 0.5) 100%
  );

  object-fit: cover;
}
.containerImage {
  position: relative;
}

/* .buttonHeartIcon {
  visibility: hidden;
} */

.heartIcon {
  position: absolute;
  top: 16px;
  right: 16px;

  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.groupTitle {
  display: flex;
  /* justify-content: space-between; */
  color: var(--main);
  margin-top: 16px;
}
.carInfo {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Если название слишком длинное */
}
.model {
  color: var(--button);
}
.rentalPrice {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;

  margin-left: auto;
  margin-right: 11px;
}

.groupTags {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: var(--gray);

  margin-top: 8px;

  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 28px;

  max-width: 230px;
}
.tag {
  display: flex;
  align-items: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.address {
}
.rentalCompany {
}
.type {
}
.mileage {
}
.tag:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: var(--gray-light);
  margin-left: 6px;
}

.button {
  /* Обязательно добавляем для Link */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; /* Убираем стандартное подчеркивание ссылки */

  margin-top: auto;
  border: none;
  cursor: pointer;

  border-radius: 12px;
  padding: 12px 40px;
  width: 100%;
  background: var(--button);

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
}

.button:hover {
  background: var(--button-hover);
}
